<div class="wrapper">
	<h2>Flight: <%= @flight.plane %></h2>
	<h3><%= @flight.date%></h3>
	<p><%= @flight.total_pax %> number of passengers</p>
	<p><%= @flight.total_nc_pax %> number of passengers who were seized with or surrendered BRM to officer</p>
	
</div>
