<nav>
          <ul>
            <li><a href="#airport" id="airport">Airport</a></li>
            <li><a href="#seaport" id="seaport">Seaport</a></li>
            <li><a href="#roadfreight" id="roadfreight">Road freight</a></li>
          </ul>
</nav>