   <%= image_tag "photo-airport1.jpg"%>
    <div class="btn-group" role="group">
      <%= button_to 'Flight', flights_path, method: :get, class: 'btn btn-default'%>
      <%= button_to 'Freight', freights_path, method: :get, class: 'btn btn-default'%>
      <%= button_to 'BRM Collection bin', brmcollections_path, method: :get, class: 'btn btn-default'%>
    </div>



<div>
  <h2>Seaport</h2>
    <ul>
      <li>SPoT</li>
      <li>Searoad</li>
      <li>Bell Bay</li>
    </ul>
</div>

<div>
  <h2>Road Freight</h2>
</div>
