<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <title>Biosecurity Tasmania Border</title>
  <meta name="keywords" content="Biosecurity, Tasmania, Border">
  <meta name="description" content="Gather biosecurity border data. Intelligence. Risk management">

 
  

</head>
<body>
  <header>
      <div>
        <div>Biosecurity Tasmania Operations</div>
      </div>
      
      

    <div>
        <nav>
          <ul>
            <li><a href="#airport" id="airport">Airport</a></li>
            <li><a href="#seaport" id="seaport">Seaport</a></li>
            <li><a href="#roadfreight" id="roadfreight">Road freight</a></li>
          </ul>
        </nav>
    </div>
   </header>


  <div>
    <h2>Airport</h2>
    <ul>
    	<li>Flight</li>	
    	<li>Freight</li>
    	<li>Collection Bin</li>
    </ul>
  </div>

  <div>
  <h2>Seaport</h2>
  	<ul>
	  	<li>SPoT</li>
	  	<li>Searoad</li>
	  	<li>Bell Bay</li>
  	</ul>
  </div>

  <div>
  <h2>Road Freight</h2>
  </div>
  

  <footer>
    <div>
      <p><span>Copyright &copy; 2016 Biosecurity Border. All rights reserved.</span></p>
    </div>
  </footer>
  
</body>
</html>
