<div class="page-section">
  <h2 class="section-title">Airport</h2>
   <%= image_tag "photo-airport1.jpg", class:"photo clearfix" %> 
    <div class="row">
      <a class="col-third col-text-center" href="#"><%= link_to "Flight", flights_path %></a>    
      <a class="col-third col-text-center" href="#">Freight</a>     
      <a class="col-third col-text-center" href="#">Collection Bin</a>
    </div>
</div>



<div>
  <h2>Seaport</h2>
    <ul>
      <li>SPoT</li>
      <li>Searoad</li>
      <li>Bell Bay</li>
    </ul>
</div>

<div>
  <h2>Road Freight</h2>
</div>
