<div>
    <h2>Airport</h2>
    <ul>
      <li>Flight</li> 
      <li>Freight</li>
      <li>Collection Bin</li>
    </ul>
  </div>

  <div>
  <h2>Seaport</h2>
    <ul>
      <li>SPoT</li>
      <li>Searoad</li>
      <li>Bell Bay</li>
    </ul>
  </div>

  <div>
  <h2>Road Freight</h2>
  </div>
