.page-section {
	padding-bottom: 1.3rem;	
}

.col-third {
	float: left;
	width: 33.33%;
}

.col-text-center {
	text-align: center;

}

.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.photo {
	border: 3px solid black;
	opacity: 0.5;
	display: block;
	position: relative;
}

.boxed {
	border: 1px red dotted;
}

